<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <div>
            <label for="name">Введите имя</label>
            <input type="text" th:field="*{name}" id="name"/>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Name error</div>
            </br>
            <label for="year">Введите год рождения</label>
            <input type="text" th:field="*{year}" id="year"/>
            <div th:if="${#fields.hasErrors('year')}" th:errors="*{year}" style="color: red">Year error</div>
            </br>
            <input type="submit" value="Сохранить">
        </div>
    </form>

</body>
</html>